# Copyright (C) 2020, 2023 Mitsubishi Electric Research Laboratories (MERL).
#
# SPDX-License-Identifier: AGPL-3.0-or-later

gin-config==0.3.0
gym==0.15.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
scipy==1.4.1
tensorboard==2.0.2
tensorflow-estimator==2.0.1
tensorflow-gpu==2.0.0
tensorflow-probability==0.8.0
numpy==1.18.0
cpprb
